*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 36px;
    box-sizing: border-box;
}
html,
body {
    min-height: 100%;
    height: 100%;
    background-color: #c3d0fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    width: 550px;
    height: 800px;
    box-shadow: 0 0 20px #ffffff;
    background-color: #ff9df5;
    padding: 50px;
}
.calc__title {
    font-family: cursive;
    color: #ffffff;
}
.calc__screen {
    margin: 0 auto;
    width: 380px;
    height: 100px;
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 54px;
    border: 2px solid #314279;;
}
.btn,
.op,
.calc__eq {
    margin: 5px 10px;
    background-color: #ffffff;
    opacity: 1;
    width: 80px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px rgb(4, 8, 21);
    cursor: pointer;
    line-height: 1;
    border: 1px solid transparent;
}
.btn:hover,
.op:hover,
.calc__eq:hover {
    box-shadow: none;
    border: 1px solid rgb(4, 8, 21);
}
.calc__mul {
    padding-top: 10px;
    box-sizing: border-box;
}
.calc__eq {
    width: 70%;
}